# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Jupyter Checkpoints
.ipynb_checkpoints/

# Data Files
*.csv
*.pkl
*.pickle
*.joblib


# Environment & Secrets
.env
secrets.yaml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/